body{
    background: rgb(53, 63, 72);
}

.content{
    margin-left: 15%;
    padding-right: 0;
}

.container-fluid  .content span{
    font-size: 0.75rem;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    color: grey;
    font-weight: 400;
} 

.container-fluid  .content .rooms{
    padding-right: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-right: rgb(82, 82, 82) 1px solid;
}

.container-fluid  .content .rooms a{
    text-decoration: none;
    color:  rgb(1, 168, 146);
} 

.container-fluid  .content .rooms table{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    width: 100%; 
}  

.container-fluid  .content .rooms .dummy{
    height: 50px;
    z-index: -1;
}

.container-fluid  .content .rooml .dummy{
    height: 50px;
    z-index: -1;
}

.container-fluid  .content .rooms table th{
    color: grey;
    font-weight: 400;
    font-size: 0.9rem;
}

.container-fluid  .content .rooms table{
    color: rgb(194, 194, 194);
}

.container-fluid  .content .rooms table thead tr{
    height: 30px;
}

.container-fluid  .content .rooms table tbody tr{
    height: 30px;
}

.container-fluid  .content .rooms table .boder{
    border-left: black 1px solid;
}

.container-fluid  .content .rooml{
    padding-right: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
}

.container-fluid  .content .rooml table{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}  

.container-fluid  .content .dummy{
    height: 20px;
}

.container-fluid  .content .rooml table{
    color: rgb(194, 194, 194);
}

.container-fluid  .content .rooml table th{
    color: grey;
    font-weight: 400;
    font-size: 0.9rem;
}

.container-fluid  .content .rooml a{
    text-decoration: none;
    color:  rgb(1, 168, 146);
}

.container-fluid  .content .rooml table thead tr{
    height: 30px;
}

.container-fluid  .content .rooml table tbody tr{
    height: 30px;
}

.container-fluid  .content .rooml table .boder{
    border-left: black 1px solid;
}

.container-fluid  .content .date{
    padding: 5px;
    width: auto;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 95px;
    top: 70px;
    z-index: 1;
    color: grey;
}

.container-fluid  .content .date select{
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.container-fluid  .content .date select:focus{
    outline: none;
}

.container-fluid  .content .users{
    padding-top: 50px;
}

.container-fluid  .content .users a{
    text-decoration: none;
    color:  rgb(1, 168, 146);
}

.container-fluid  .content .users .list .user{
    width: 100%;
    height: 35px;
    background-color: rgb(49, 58, 66);
    border: rgb(48, 56, 65) 1px solid;
    padding-top: 5px;
    border-radius: 7.5px;
    color: rgb(194, 194, 194);
}

.container-fluid  .content .users .list .user .email{
    position: absolute;
    left: 0;
    padding-left: 20px;
    background-color: rgb(49, 58, 66);
    border-radius: 2.5px;
    width: 30%;
    margin-top: -6px;
    height: 35px;
    padding-top: 5px;
    margin-left: 10px;
    
}

.container-fluid  .content .users .list .user .email p{
    position: absolute;
    top: 5px;
    left: 40px;
    width: 87%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}  

.container-fluid  .content .users .list .user .username{
    position: absolute;
    left: 40%;
}

.container-fluid  .content .users .list .user .username p{
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-fluid  .content .users .list .user .time{
    position: absolute;
    left:60%;
}

.container-fluid  .content .users .list .user .time p{
    position: absolute;
    top: 0;
    left: 20px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-fluid  .content .users .list ul{
    list-style-type: none;
}

.container-fluid  .content .users .list li{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
}

.container-fluid  .content .users .list li:nth-child(1) {
    height: 70px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user{
    height: 70px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .email{
    height: 70px;
    padding-top: 37px;
} 

.container-fluid  .content .users .list li:nth-child(1)>.user .email p{
    padding-top: 35px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .username{
    height: 70px;
    padding-top: 35px;
} 

.container-fluid  .content .users .list li:nth-child(1)>.user .username p{
    padding-top: 35px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .time{
    height: 70px;
    padding-top: 35px;
} 

.container-fluid  .content .users .list li:nth-child(1)>.user .time p{
    padding-top: 35px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .manage{
    height: 70px;
    padding-top: 35px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .email span{
    display: block;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .username span{
    display: block;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .time span{
    display: block;
}

.container-fluid  .content .users .list .user .email span{
    display: none;
    position: absolute;
    top: 5px;
    left: 20px;
}

.container-fluid  .content .users .list .user .username span{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.container-fluid  .content .users .list .user .time span{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.container-fluid  .content .users .head{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 415px) {
    .container-fluid .content{
        padding: 0;
        margin: 0;
    }

    .container-fluid  .content .rooml a{
        padding-left: 10px;
    }

    .container-fluid  .content .rooms{
        padding-top: 30px;
    }

    .container-fluid  .content .rooms a{
        padding-left: 10px;
    }

    .container-fluid  .content .rooml{
        padding-top: 30px;
    }

    .container-fluid  .content .users .head{
        padding-left: 10px;
    }

    .container-fluid  .content .dummy{
        display: none;
    }

    .container-fluid  .content .rooms{
        padding-right: 0px;
        border-right: none;
    }
}