body{
    background: rgb(53, 63, 72);
}

.content{
    margin-left: 15%;
}

.content .head {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 15px;
    color: white;
    padding-bottom: 10px;
}

.content .head i{
    padding-right: 10px;
    color: rgb(1, 168, 146);
}

.content .head a{
    color: white;
    text-decoration: none;
}

.content .head a:hover{
    color: rgba(255, 255, 255, 0.459);
}

.content .head .add-far{
    position: absolute;
    right: 25px;
    margin-top: 17px;
    color: white;
}

.content .head .add-far:hover{
    transform: scale(1.1);
}

.content .head span{
    position: absolute;
    font-size: 0.85rem;
    font-weight: 400;
    color: gray;
    margin-top: 20px;
    margin-left: -70px;
}


.search{
    position: absolute;
    top: 20px;
    right: 15px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.search input{
    border: none;
    border-bottom: rgba(236, 236, 236, 0.322) 1px solid;
    border-radius: 1px;
    padding-left: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(53, 63, 72);
    color: rgb(241, 241, 241);
}

.search input:focus{
    outline: none;
    border-bottom: rgb(241, 241, 241) 1px solid;
}

.search input:focus + button{
    display: block;
}

.search input:hover + button{
    display: block;
}

.search button{
    border: none;
    background: rgb(53, 63, 72);
    position: absolute;
    right: 5px;
    display: none;
    top: 0px;
    color: rgb(241, 241, 241);
}

.search i{
    position: absolute;
    margin-top: 5px;
    right: 10px;
}

.content ul{
    list-style-type: none;
}

.content li{
    margin-bottom: 25px;
}

.content .event{
    width: 100%;
    text-align: center;
}

.content .event .header{
    padding-top: 10px;
    padding-left: 25px;
    height: 40px;
    width: 100%;
    background-color: rgb(1, 168, 146);
    border: rgb(2, 151, 131) 1px solid;
    border-radius: 2.5px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}

.content .event .header p{
    font-size: 1.05rem;
    color: rgb(224, 224, 224);
}

.content .event .header i{
    margin-top: 0px;
    color:whitesmoke;
    font-size: 1rem;
}

.content .event .content{
    height: auto;
    width: 100%;
    border: rgb(42, 49, 56) 1px solid;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0px;
    margin: 0;
    color: rgb(194, 194, 194);
}

.content .event .content table{
    width: 100%;
    top: -20px;
}

.content .event .content table th{
    font-size: 0.8rem;
    color: rgb(139, 139, 139);
    font-weight: 400;
}

.content .event .content .header1{
    line-height: 45px;
}

.content .event .header .add-event{
    position: absolute;
    color: whitesmoke;
    margin-top: -35px;
    right: 30px;
}

.content .event .header .add-event:hover{
    transform: scale(1.1);
}

.content .event .content table tr{
    height: 40px;
    border-bottom:  rgb(42, 49, 56) 1px solid;
   
}

.content .event .content table th:nth-child(1){
    width: 15%;
}

.content .event .content table th:nth-child(2){
    width: 50%;
}

.content .event .content table th:nth-child(3){
    width: 20;
}

.content .event .content table th:nth-child(4){
    width: 15%;
}

.content .event .content table td{
    line-height: normal;
}
.content .event .content .bg{
   background: rgb(47, 55, 63);
   border-right: rgb(42, 49, 56) 1px solid;
   border-left: rgb(42, 49, 56) 1px solid;
   color: rgb(194, 194, 194);
}

.content .event .content .manage i{
    padding: 10px;
 }

 .content .event .content .manage i:hover{
    transform: scale(1.2);
}

.content .col .select-event input{
    color: white;
    background: transparent;
}

.content .col .select-event button:hover{
    transform: scale(1.1);
}

.content .pagiante-list-select{
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: rgb(1, 168, 146);
}

.content .pagiante-list-select a{
    padding-top: 5px;
    width: 35px;
    height: 35px;
    background: white;
}

.content .pagiante-list-select .active{
    background-color: rgb(1, 168, 146);
    color: white;
}

.content .pagiante-list-select a:nth-child(1){
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 50px;
}

.content .pagiante-list-select a:nth-last-child(1){
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 50px;
}



/* Css For Modal Moblie */
.modal .card-header{
    background-color: rgb(1, 168, 146);
    border: rgb(2, 151, 131) 1px solid;
    color: white;
}

.modal .card-header .close-icon{
    position: absolute;
    top: 22.5px;
    right: 20px;
}

.modal .card-header .card-title{
    padding-top: 15px;
}

.modal .card-header .card-title i{
    padding-right: 10px;
}

.modal .card-body ul{
    list-style-type: none;
    padding-top: 10px;
} 

.modal .card-body ul>li{
    height: 65px;
    padding-left: 50px;
    font-size: 0.85rem;
    color: rgb(95, 95, 95);
} 

.modal .card-body .obj{
    position: absolute;
    color: black;
    font-size: 1rem;
    width: 70%;
}

.modal .card-body .obj input{
    border: none; border-bottom: rgb(179, 179, 179) 1px solid;
    width: 100%;
}

.modal .card-body .obj input:focus{
    outline: none;
    border-bottom: none;
}

.modal .card-body .obj2{
    position: absolute;
    color: black;
    font-size: 1rem;
}

.modal .card-body .obj2 input{
    border: none;
}

.modal .card-body .obj3{
    position: absolute;
    color: black;
    font-size: 1rem;
}

.modal .card-body .obj4{
    position: absolute;
    color: black;
    font-size: 1rem;
}

.modal .card-body .obj5{
    position: absolute;
    color: black;
    font-size: 1rem;    
}

.modal .card-body .name{
    position: absolute;
    text-align: right;
    width: 120px;
}

.modal .card-body select:focus{
    outline: none;
    background: rgb(238, 238, 238);
    border-radius: 5px;
}


.modal .card-footer{
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    border: none;
}

.modal .card-footer a{
    text-decoration-line: none;
}

.modal .card-footer button{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    height: 75px;
    font-weight: 500;
    background: rgb(29, 29, 31);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50px;

}

.modal .card-footer button:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    transform: scale(1.03);
}

.modal .card-footer button:hover span{
    transform: scale(1.2);
}

.modal .card{
    font-family: 'Poppins', sans-serif;
    border: none;
}

@media (max-width: 415px) {
    .container-fluid .content{
        padding: 0;
        padding-top: 30px;
        margin: 0;
    }
}