*{
    padding: 0;
    margin: 0;
}

.container-fluid .slid{
    height: 100vh;
    background-color: rgb(1, 168, 146);
    border-right: rgb(2, 151, 131) 1px solid;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    display: flex;
    text-align: center;
    position: fixed;
}

.container-fluid  .content{
    height: 100vh;
    padding: 20px;
    padding-left: 50px;
}

.container-fluid .slid span{
    position: absolute;
    color: white;
}

.container-fluid .slid span>a{
    font-size: 1.0rem;
}

.container-fluid .slid ul{
    margin-top: 70px;
    list-style: none;
    width: 100%;
}

.container-fluid .slid i{
    padding-right: 10px;
}

.container-fluid .slid a{
    color: white;
    font-size: 0.85rem;
    text-decoration: none;
}

.container-fluid .slid li{
    width: 100%;
    height: 40px;
    padding-top: 5px;
}

.container-fluid .slid li:hover{
    background-color:  rgba(0, 204, 255, 0.432);
    border:  rgba(0,0,0,0.1) 1px solid;
    border-radius: 3.5px;
}

/* Mobile */
.container-fluid .nav-mobile{
    padding: 0;
    margin: 0;
    display: none;
}

@media (max-width: 415px) {
    .container-fluid .nav-mobile{
        display: block;
    }

    .container-fluid .slid{
        display: none;
    }
}
