*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../img/meeting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-fluid{
    background-color: rgba(0, 0, 0, 0.863);
    width: 100vw;
    overflow: hidden;
}

.container {
    width: 75%;
    position: absolute;
    left: 50%;
    top: 650px;
    transform: translate(-50%, -50%);
    align-items: center;
    margin: 0;
    padding: 0;
    margin: 30px;
    animation: fade 2s 1;
}

.container-fluid .container .card .card-header{
    font-size: 1.1rem;
}

.container-fluid .container .card .card-header i{
    margin: 20px;
}

.container-fluid .container .card .card-header i:hover{
    transform: scale(1.1);
}


.container-fluid .container .card .card-body{
    background-color: rgb(210, 250, 100);
    height: 100%;
}

.container-fluid .container .card .card-body .calendar{
    padding-left: 50px;
    padding-right: 50px;
    display: none;
}

.container-fluid .container .card .card-body .calendar .active{ 
    background-color: white; 
    border-radius: 4%;
    border: rgb(199, 236, 96) 1px solid;
}

.container-fluid .container .card .card-body .calendar .active:hover{
    transform: scale(1);
    background-color: white; 
    color: black;
}

.container-fluid .container .card .card-body .calendar-day{
    background-color: white;
    position: relative;
    padding: 0;
    margin: 0;
    width: 104.5%;
    left: -20px;
}

.container-fluid .container .card .card-body .calendar-day .calendar-time{
    width: 40px;
}

.container-fluid .container .card .calendar .table tbody td{
    font-family: 'Poppins', sans-serif;
}

.container-fluid .container .card .calendar .table tbody td:hover{
    transform: scale(1.3);
    color: white;
}

.container-fluid .container .card .calendar .table tbody td:hover p{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.container-fluid .container .card .calendar .table thead th{
    width: 14.285%;
    font-family: 'Poppins', sans-serif;
}

.container-fluid .container .card .calendar-day .table tbody td:nth-child(1){
    color: rgb(75, 75, 75);
    background-color: rgb(247, 234, 231);
    font-family: 'Poppins', sans-serif;
}

.container-fluid .container .card .calendar-day .table tbody td:nth-child(2){
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 0px;
}

.container-fluid .container .card .calendar-day .table tbody tr{
    line-height: 20px;
}

.container-fluid .container .card .card-header{
    border-bottom: rgb(195, 231, 94) 1px solid;
    font-family: 'Prompt', sans-serif;
    font-size: 1.4rem;
}

.container-fluid .container .card .calendar-day{
    border-top: rgb(195, 231, 94) 1px solid;
    border-bottom: rgb(204, 241, 100) 1px solid;;
}

.container-fluid .container .card .calendar-day .tabel{
    border: rgb(195, 231, 94) 1px solid;  
}

.container-fluid .container .card{
    border: rgb(195, 231, 94) 1px solid;
}

.container-fluid .container .card .card-header .add-event{
    position: absolute;
    right: 30px;
}

.container-fluid .container .card .card-header .add-event .add:hover{
    transform: scale(1.3);
}

.add-event:hover p {
    display: block !important;
}

.container-fluid .container .card .card-header .add-event .label{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    display: none;
    top: 50px
}

.container-fluid .container .card .calendar-day .event1{
    background: rgb(221, 49, 49);
    border: rgb(204, 31, 31) 1px solid;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
}

.container-fluid .container .card .calendar-day .event2{
    background: rgb(221, 49, 49);
    border: rgb(204, 31, 31) 1px solid;
    justify-content: center; 
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
}

.container-fluid .container .card .calendar-day .table{
    margin-bottom: 0;
}

.next-page{
    position: fixed;
    height: 100%;
    right: 0px;
    width: 100px;
}

.next-page i{
    display: none;
    position: absolute;
    right: 5px;
    top: 50%;
    color: #000;
}

.next-page p{
    display: none;
    position: absolute;
    right: 40px;
    top: 50%;
    color: #000;
}

.next-page:hover i{
    display: block;
}

.next-page:hover p{
    display: block;
}

.home-page{
    position: fixed;
    height: 100%;
    left: 0px;
    width: 100px;
}

.home-page i{
    display: none;
    position: absolute;
    left: 5px;
    top: 50%;
    color: #000;
}

.home-page p{
    display: none;
    position: absolute;
    left: 40px;
    top: 50%;
    color: #000;
}

.home-page:hover i{
    display: block;
}

.home-page:hover p{
    display: block;
}

/* Modal css */
.modal .modal-dialog .modal-content .text-dark{
    font-family: 'Poppins', sans-serif; 
    border: none;
    
}

.modal .modal-dialog .modal-content .card-body{
    font-family: 'Poppins', sans-serif; 
}

.container-fluid .container .card .home{
    position: absolute;
}

.container-fluid .container .card .home p{
    display: none;
    position: absolute;
    top: 50px;
    font-size: 0.7rem;
    margin-left: 18px;
}

.container-fluid .container .card .home a{
    color: #000;
}

.container-fluid .container .card .card-header p{
    font-size: 1.5rem;
    font-weight: bold;
}

.container-fluid .container .card .home:hover p{
    display: block;
}

.container-fluid .mobile{
    width: 70%;
    margin: 0 auto;
}


/* CSS For Mobile */

.mobile .row .card-header{
    width: 100%;
    height: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    background-image: linear-gradient(to bottom right, rgb(1, 168, 146), rgb(112, 172, 164));
    border-radius: 0;
    padding-top: 25px;
}

.mobile .row .card-header .home{
    position: absolute;
    left: 17.5%;
    margin: 10px;
}

.mobile .row .card-header .home a{
    color: #fff;
}

.mobile .row .card-header .add-event{
    position: absolute;
    right: 17.5%;
    margin: 10px;
}

.mobile .row .card-header p{
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
}

.mobile .row .card-header input{
    background: transparent; 
    border: none; 
    color: white;
    margin: 0 auto;
}

.mobile .row .card-header input.md-datepicker-button.md-icon-button{
    display: none;
}

.mobile .row .card-header i{
    color: #fff;
}

.mobile .row .card-header i:hover{
    transform: scale(1.2);
}

.mobile .row .card-header .head-name{
    text-shadow: 0 0 3px rgba(90, 90, 90, 0.623);
    text-align: center;
    font-size: 1.8rem;
}

.mobile .row .card-header input{
    font-size: 1.2rem;
    width: 100px;
    text-shadow: 0 0 3px rgba(90, 90, 90, 0.651);
}

.mobile .row table{
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    overflow: hidden;
    width: 100vw;
    display: none;
}

.mobile .row .calendar-time{
    width: 40px;
    text-align: center;
}

.mobile .time{
    width: 100%;
    height: 45px;
    background: rgb(53, 63, 72);
    text-align: center;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    border: rgb(49, 59, 68) 1px solid;  
    color: #fff;
}

.mobile .event{
    width: 100%;
    height: 45px;
    background: rgb(53, 63, 72);
    text-align: center;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    border: rgb(49, 59, 68) 1px solid;
    padding: 0;
    margin: 0;
}

.mobile .event .book0-5{
    position: absolute;
    width: 99.7%;
    height: 45px;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    padding-top: 9px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    white-space: nowrap;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book0-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.mobile .event .book1{
    position: absolute;
    width: 99.7%;
    height: 90px;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book1 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.mobile .event .book1-5{
    position: absolute;
    width: 99.7%;
    height: 135px;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book1-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.mobile .event .book2{
    height: 180px;
    width: 99.7%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: absolute;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book2 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.mobile .event .book2-5{
    height: 225px;
    width: 99.7%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: absolute;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book2-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

 .mobile .event .book3{
    height: 270px;
    width: 99.7%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: absolute;
    padding-right: 10px;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book3 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.mobile .event .book3-5{
    height: 315px;
    width: 99.7%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: absolute;
    padding-right: 10px;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book3-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.mobile .event .book4{
    height: 360px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book4 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
}

.mobile .event .book4-5{
    height: 410px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book4-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
}

.mobile .event .book5{
    height: 450px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book5-5{
    height: 495px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book5-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book6{
    height: 540px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book6 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book6-5{
    height: 585px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book6-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book7{
    height: 630px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book7 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book7-5{
    height: 675px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book7-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .col-time, .mobile .col-event{
    padding: 0;
    margin: 0;
    animation: fade 1.5s 1;
}

.mobile .event .book8{
    height: 720px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book8 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book8-5{
    height: 765px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book8-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book9{
    height: 810px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book9 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book9-5{
    height: 855px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book9-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book10{
    height: 900px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book10 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book10-5{
    height: 945px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book10-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book11{
    height: 990px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book11 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book11-5{
    height: 1035px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book11-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book12{
    height: 1080px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book12 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book12-5{
    height: 1125px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book12-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book13{
    height: 1170px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book13 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book13-5{
    height: 1215px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book13-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book14{
    height: 1260px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book14 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book14-5{
    height: 1305px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book14-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book15{
    height: 1350px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book15 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book15-5{
    height: 1395px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book15-5 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .event .book16{
    height: 1440px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(148, 148, 148, 0.863), rgba(175, 175, 175, 0.418));
    border: rgba(56, 56, 56, 0.452) 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    color: #fff;
    position: relative;
    align-content: center;
    text-shadow: 0 0 3px rgb(90, 90, 90);
}

.mobile .event .book16 p{
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.mobile .col-time, .mobile .col-event{
    padding: 0;
    margin: 0;
    animation: fade 1.5s 1;
}

/* Css For Modal Moblie */

.modal{

}

.modalForm .modal-dialog .modal-content .card{
    height: 100%;
}

.modal .card-header{
    background-image: linear-gradient(to bottom right, rgb(1, 168, 146), rgb(112, 172, 164));
    color: white;
} 

.modal .card-body{
    height: auto;
}

.modal .card-body ul{
    list-style-type: none;
} 

.modal .card-body ul>li{
    height: 75px;
    padding-left: 50px;
    font-size: 0.85rem;
    color: rgb(95, 95, 95);
} 

.modal .card-body .obj{
    position: absolute;
    margin-top: 0px;
    width: 68%;
    font-size: 1rem;
}

.modal .card-body .obj input{
    border: none; border-bottom: rgb(179, 179, 179) 1px solid;
    width: 100%;
}

.modal .card-body .obj input:focus{
    outline: none;
    border-bottom: none;
}

.modal .card-body .obj2{
    position: absolute;
    font-size: 1rem;
}

.modal .card-body .obj2 input{
    border: none;
    background: white;
}

.modal .card-body .obj2 input:focus{
    outline: none;
    border-bottom: none;
}

.modal .card-body .obj3{
    position: absolute;
    font-size: 1rem;
}

.modal .card-body .obj3 select{
    background: white;
}

.modal .card-body .obj4{
    position: absolute;
    font-size: 1rem;
}

.modal .card-body .obj4 select{
    background: white;
}

.modal .card-body .obj5{
    position: absolute;
    font-size: 1rem;
    color: black;
}

.modal .card-body .name{
    position: absolute;
    left: 100px;
    width: 75px;
    text-align: left;
}

.modal .card-body select:focus{
    outline: none;
    background: rgb(238, 238, 238);
    border-radius: 5px;
}


.modal .card-footer{
    padding: 0px 0;
    margin:auto;
    border: none;
    padding-bottom: 10px;
}

.modal .card-footer .btn{
    background: rgb(29, 29, 31);
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 50px;
}

.modal .card-footer .btn:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    transform: scale(1.03);
}

.modal .card-footer a{
    text-decoration-line: none;
}

.modal .card-footer a>button{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    height: 75px;
    font-weight: 500;
}

.modal .card-footer a>button:hover span{
    transform: scale(1.2);
}

.modal .card{
    font-family: 'Poppins', sans-serif;
    border: rgba(131, 116, 110, 0.788) 1px solid;
}

.modal .card-header i{
    position: absolute;
    right: 10px;
    top: 10px;
}

@keyframes fade{
    10%{
        color: transparent;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .container-fluid{
        padding: 0;
        margin: 0;
        height: 100%;
        text-align: center;
    }
    .container-fluid .mobile{
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .container-fluid .mobile .table{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .container-fluid .container .card{
        display: none;
    }
    .home-page{
        display: none;
    }
    .next-page{
        display: none;
    }
    .mobile .row .card-header .add-event{
        right: 10px;
    }
    .mobile .row .card-header .home{
        left: 10px;
    }
    .mobile .row .card-header input{
        text-align: center;
        width: 80%;
    }
}