*{
    padding: 0;
    margin: 0;
}

body
{
    background-image: url("../img/meeting.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.container-fluid{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container-fluid .title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.container-fluid .title p{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(221, 221, 221);
    font-weight: 300;
    margin-bottom: 30px;
    animation: text 3s 1;
}

.container-fluid .title span{
    font-weight: bold;
    color: white;
}

.container-fluid .button{
    align-content: center;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container-fluid .button button{
    padding: 12px;
    margin: 20px;
    border: 2px solid #eee;
    border-radius: 50px;
    font-size: 18px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    animation: button 3s 1;
}

.container-fluid .button .room-s{
    width: 220px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}

.container-fluid .button .room-l{
    width: 220px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}

.container-fluid .button .room-s:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    transform: scale(1.03);
}

.container-fluid .button .room-l:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    transform: scale(1.03);
}

.header-profile{
    position: absolute;
    left: 10px;
    padding: 50px;
}

.header-profile span{
    font-family: 'Prompt', sans-serif;
}

.header-profile i{
    font-size: 30px;
    color: white;
}

.header-profile i:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transform: scale(1.03);
}

.header{
    position: absolute;
    right: 10px;
    padding: 50px;
}

.header i{
    font-size: 30px;
    color: white;
}

.header i:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transform: scale(1.03);
}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* Css For Modal */

.modal .card-header {
    font-family: 'Poppins', sans-serif;
}

.modal .card-header .card-login{
    position: absolute;
    right: 20px;
    top: 10px;
}

.modal .card-header .card-login span{
    padding-right: 10px;
}

.modal .card-header .card-login:hover{
    color: rgb(112, 112, 112);
}

.modal .card-header .card-title:hover{
    color: rgb(112, 112, 112);
}

.modal .card-header span{
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-size: 0.9rem;
}

.modal .card-header span{
    padding-left: 7.5px;
}

.modal .card-body ul{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
} 

.modal .card-body ul>li{
    height: 90px;
    text-align: center;   
} 

.modal .card-body ul li .head-text{
    background: #000;
    font-size: 2rem;
}

.modal .card-body .email{
    border: none; 
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
    height: 50px;
    width: 80%; 
}

.modal .card-body .email:focus{
    transition: all 0.2s ease 0s;
}

.modal .card-body .username{
    border: none;
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
    height: 50px;
    width: 80%;
}

.modal .card-body .password{
    border: none; 
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
    height: 50px;
    width: 80%;
}

.modal .card-body .password :focus{
    transition: all 0.2s ease 0s;
    transform: scale(1.01);
}

.modal .card-body .password2{
    border: none; 
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
    height: 50px;
    width: 80%;
}

.modal .card-body select:focus{
    outline: none;
    background: rgb(238, 238, 238);
    border-radius: 5px;
}

.modal .card-body a:hover{
    text-decoration: none;
}

.modal .card-body .del-profile:hover{
    transform: scale(1.03);
    color: red;
}

.modal .card-body .btnSubmit{
    margin-left: 0%;
    margin-top: 20px;
    background: rgb(29, 29, 31);
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 50px;
}

.modal .card-body .btnSubmit:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    transform: scale(1.03);
}

.modal .card-body .btnLogin{
    margin-right: -30%;
    margin-top: 20px;
    background: rgb(29, 29, 31);
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 50px;
}

.modal .card-body .or{
    padding: 10px;
}

.modal .card-body .create-profile{
    position: absolute;
    font-size: 0.8rem;
    color: lightseagreen;
    right: 14%;
    margin-top:10px;
    font-family: 'Poppins', sans-serif;
}

.modal .card-body .create-profile span{
    color: rgba(128, 128, 128, 0.733);
    font-weight: 100;
}

.modal .card-body .create-profile:hover{
    cursor: pointer;
}

.modal .card-body .loginLabel{
    position: absolute;
    font-size: 0.8rem;
    color: lightseagreen;
    right: 14%;
    margin-top:10px;
    font-family: 'Poppins', sans-serif;
}

.modal .card-body .loginLabel span{
    color: rgba(128, 128, 128, 0.733);
    font-weight: 100;
}

.modal .card-body .loginLabel:hover{
    cursor: pointer;
}

.modal .card-body .delLabel{
    position: absolute;
    font-size: 0.8rem;
    color: rgba(255, 0, 0, 0.733);
    right: 14%;
    margin-top:10px;
    font-family: 'Poppins', sans-serif;
}

.modal .card-body .delLabel span{
    color: rgba(128, 128, 128, 0.733);
    font-weight: 100;
}

.modal .card-body .delLabel:hover{
    cursor: pointer;
}

.modal .card-body .card-title{
    margin-left: -20px;
    color: tomato;
}

.modal .card-footer{
    padding: 0;
    margin: 0;
}

.modal .card-footer a{
    text-decoration-line: none;
}

.modal .card-footer a>button{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    height: 75px;
    font-weight: 500;
}

.modal .card-footer a>button:hover{
    transform: scale(1.05);
}

.modal .card{
    font-family: 'Poppins', sans-serif;
    border: rgba(131, 116, 110, 0.788) 1px solid;
}   

.modal .login-user{
    display: none;
}  

.modalForm .modal-dialog .modal-content .btnYes{
    width: 100px;
    background: rgb(29, 29, 31);
    border: none;
    border-radius: 25px;
    padding: 5px;
    color: white;
}

.modalForm .modal-dialog .modal-content .btnYes:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    transform: scale(1.03);
}

.modalForm .modal-dialog .modal-content .btnNo{
    width: 100px;
    background: rgb(29, 29, 31);
    border: none;
    border-radius: 25px;
    padding: 5px;
    color: white;
    margin-left: 20px;
}

@keyframes text{
    10%{
        color: transparent;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes button{
    0%{
        color: transparent;
        margin-bottom: -20px;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 450px) {
    .container-fluid .button{
        padding-top: 60%; 
    }
}

@media (max-width: 1100px) {
    .container-fluid .button{
        top: 65%; 
    }
}