body{
    background: rgb(53, 63, 72);
}

.container-fluid  .content .users .list .user{
    width: 100%;
    height: 45px;
    background: rgb(50, 60, 68);
    border: rgb(46, 53, 61) 1px solid;
    padding-top: 10px;
    border-radius: 2.5px;
}

.content{
    margin-left: 15%;
}

.container-fluid  .content .users .list .user .email{
    position: absolute;
    left: 0;
    padding-left: 20px;
    border-radius: 0px;
    width: 30%;
    margin-top: -6px;
    height: 35px;
    padding-top: 5px;
    margin-left: 10px;
    
}

.container-fluid  .content .users .list .user .email p{
    position: absolute;
    top: 5px;
    left: 40px;
    width: 87%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}  

.container-fluid  .content .users .list .user .username{
    position: absolute;
    left: 35%;
}

.container-fluid  .content .users .list .user .username p{
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-fluid  .content .users .list .user .time{
    position: absolute;
    left: 55%;
}

.container-fluid  .content .users .list .user .time p{
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-fluid  .content .users .list .user .manage{
    position: absolute;
    right: 15px;
    background: rgb(56, 64, 70);
    color: black;
    border-top: rgb(50, 60, 68) 1px solid;
    border-right: rgb(50, 60, 68) 1px solid;
    border-bottom: rgb(50, 60, 68) 1px solid;
    border-left:rgb(58, 66, 71) 1px solid;
    border-radius: 2.5px;
    width: 10%;
    margin-top: -11px;
    height: 45px;
    padding-top: 5px;
    padding-left: 2%;
}

.container-fluid  .content .users .list .user .manage i{
    padding-right: 5px;
    margin-top: 15px;
}

.container-fluid  .content .users .list .user .manage i:hover{
    transform: scale(1.2);
}

.container-fluid  .content .users .list ul{
    list-style-type: none;
    color: white;
}

.container-fluid  .content .users .list li{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: rgb(194, 194, 194);
}

.container-fluid  .content .users .list li:nth-child(1) {
    height: 80px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user{
    height: 80px;
    background: rgb(50, 60, 68);
}

.container-fluid  .content .users .list li:nth-child(1)>.user .email{
    height: 70px;
    padding-top: 37px;
} 

.container-fluid  .content .users .list li:nth-child(1)>.user .email p{
    padding-top: 35px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .username{
    height: 70px;
    padding-top: 35px;
} 

.container-fluid  .content .users .list li:nth-child(1)>.user .username p{
    padding-top: 35px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .time{
    height: 70px;
    padding-top: 35px;
} 

.container-fluid  .content .users .list li:nth-child(1)>.user .time p{
    padding-top: 35px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .manage{
    height: 80px;
    padding-top: 35px;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .email span{
    display: block;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .username span{
    display: block;
}

.container-fluid  .content .users .list li:nth-child(1)>.user .time span{
    display: block;
}

.container-fluid  .content .users .list .user .email span{
    display: none;
    position: absolute;
    top: 5px;
    left: 20px;
}

.container-fluid  .content .users .list .user .username span{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.container-fluid  .content .users .list .user .time span{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.container-fluid  .content .users .head{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.search{
    position: absolute;
    top: 0;
    right: 15px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.search input{
    border: none;
    border-bottom: rgba(236, 236, 236, 0.322) 1px solid;
    border-radius: 1px;
    padding-left: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(53, 63, 72);
    color: rgb(241, 241, 241);
}

.search input:focus{
    outline: none;
    border-bottom: rgb(241, 241, 241) 1px solid;
}

.search input:focus + button{
    display: block;
}

.search input:hover + button{
    display: block;
}

.search button{
    border: none;
    background: rgb(53, 63, 72);
    position: absolute;
    right: 5px;
    display: none;
    top: 0;
    color: rgb(241, 241, 241);
}

.search i{
    position: absolute;
    right: 10px;
}

.users .head span{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    color: gray; 
    margin-top: 20px;
    margin-left: -42.5px;
}

.users .head{
    padding-bottom: 15px;
}

.users .head i{
    padding-right: 5px;
    color: rgb(1, 168, 146);
    
}

.users .head .add-far:hover{
    transform: scale(1.1);
}

.users .head .add-far{
    position: absolute;
    right: 25px;
    margin-top: 10px;
    color: white;
}


/* Css For Modal Moblie */
.modal .card-header {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(1, 168, 146);
    border: rgb(2, 151, 131) 1px solid;
    color: white;
    padding-top: 20px;
}

.modal .card-header span{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.modal .card-header span{
    padding-left: 7.5px;
}

.modal .card-body ul{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
} 

.modal .card-body ul>li{
    height: 85px; 
    padding-left: 50px;
} 

.modal .card-body .email{
    border: none; border-bottom: rgb(179, 179, 179) 1px solid;
    width: 65%; 
    height: 40px;
    position: absolute;
    margin-top: 25px;
    margin-left: -50px;
}

.modal .card-body .email:focus{
    outline: none;
    border-bottom: none;
}

.modal .card-body .username{
    border: none; border-bottom: rgb(179, 179, 179) 1px solid;
    width: 65%;
    height: 40px;
    position: absolute;
    margin-top: 25px;
    margin-left: -82.5px;
}

.modal .card-body .username:focus{
    outline: none;
    border-bottom: none;
}

.modal .card-body .password{
    border: none; border-bottom:  rgb(179, 179, 179) 1px solid;
    width: 65%;
    height: 40px;
    position: absolute;
    margin-top: 25px;
    margin-left: -77.5px;
}

.modal .card-body .password2{
    border: none; border-bottom:  rgb(179, 179, 179) 1px solid;
    height: 40px;
    width: 65%;
    position: absolute;
    margin-top: 25px;
    margin-left: -145px;
}

.modal .card-body select:focus{
    outline: none;
    background: rgb(238, 238, 238);
    border-radius: 5px;
}


.modal .card-footer{
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    border: none;
}

.modal .card-footer a{
    text-decoration-line: none;
}

.modal .card-footer button{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    height: 75px;
    font-weight: 500;
    background: rgb(29, 29, 31);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50px;
}

.modal .card-footer button:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    transform: scale(1.03);
}

.modal .card{
    font-family: 'Poppins', sans-serif;
    border: none;
}   

.modal-del .card-body{
    height: 100px;
    width: 100%;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

@media (max-width: 415px) {
    .container-fluid .content{
        padding: 0;
        padding-top: 30px;
        margin: 0;
    }

    .search button{
        top: -1px;
    }

    .container-fluid  .content .users .list .user .time p{
        width: auto;
    }

    .container-fluid  .content .users .list .user .email p{
        width: 85px;
    }

    .container-fluid  .content .users .list .user .username p{
        width: 60px;
    }

    .container-fluid  .content .users .list .user .time p{
        width: 85px;
    }

    .container-fluid  .content .users .list .user .manage{
        right: 10px;
        width: 15%;
    }
}
